/* General reusable classes */


/* General Containers (column counts within a grid) */
.cnt-1 {
    width: 8,333333%;
}

.cnt-2 {
    width: 16,666666%;
}

.cnt-3 {
    width: 25%;
}

.cnt-4 {
    width: 33,333333%;
}

.cnt-5 {
    width: 41,666666%;
}

.cnt-6 {
    width: 50%;
}

.cnt-7 {
    width: 58,333333%;
}

.cnt-8 {
    width: 66,666666%;
}

.cnt-9 {
    width: 75%;
}

.cnt-10 {
    width: 83,333333%;
}

.cnt-11 {
    width: 91,666666%;
}

.cnt-12 {
    width: 100%;
}